@model List<StudentPortal.Models.Student>

@{
    ViewData["Title"] = "Students";
}

<h2>Students List</h2>

<table border="1" class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Course</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.Name</td>
                <td>@student.Course</td>
            </tr>
        }

    </tbody>
</table>


<h2>Request Logs</h2>

<table border="1" class="table">

    <thead>
        <tr>
            <th>URL</th>
            <th>Execution Time (ms)</th>
            <th>Request Time</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var log in ViewBag.Logs)
        {
            <tr>
                <td>@log.Url</td>
                <td>@log.ExecutionTime</td>
                <td>@log.RequestTime</td>
            </tr>
        }

    </tbody>

</table>