@model IEnumerable<UniversityManagementSystem.Models.Student>

<h2>Students</h2>

<a asp-action="Create">Add Student</a>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Enrollment Date</th>
        <th>Courses</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FullName</td>
            <td>@item.Email</td>
            <td>@item.EnrollmentDate</td>
            <td>

                @foreach (var e in item.Enrollments)
                {
                    <p>@e.Course.Title - @e.Grade</p>
                }

            </td>
        </tr>
    }
</table>